@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Merriweather";
  background-color: #f8f0e3;
	display: flex;
	flex-direction: column;
  max-width: 800px;
	margin: 0 auto;
	padding: 5%;
}

section {
	margin-bottom: 20px;
}

h1 {
  font-size: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

p.last-p {
  margin: 0;
}

/* classes */
.lyrics {
  font-style: italic;
  color: white;
  border-radius: 12px;
  padding: 12px;
}

.enunciador {
  font-style: italic;
  text-align: right;
}


.textos {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  padding: 12px;
}


/* id's */
#a-map-lyrics {
	background-color: rgba(118, 49, 49, 0.7);
}

#tender-lyrics {
	background-color: rgba(72, 126, 155, 0.7);
}

#captain-lyrics {
  background-color: rgba(4, 0, 1, 0.7);
}
